---
import "./cssInicio/contenedorBienvenida.css";
import "./cssInicio/fondo.css";
import "./cssInicio/navInicio.css";
import "./cssInicio/variables.css";

import branchLogo from "../../public/Inicio/ieeelogo1.png";

import config from "../../config.json";

import InstagramIcon from "./icons/Instagram.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";

import GitHubIcon from "./icons/GitHub.astro";

import FacebookIcon from "./icons/Facebook.astro";

const { pathname } = Astro.url;

const isMembersPage = pathname.includes("members");
---

<div class="menuInicio">
  <img
    src={branchLogo.src}
    class="logoIEEE"
    alt="Logo de IEEE"
    onclick="window.location.href='/IEEE-ESTl-Student-Web-Hub/'"
  />

  <div class="navInicio">
    {
      !isMembersPage && (
        <>
          <button class="botonNav">
            <a href="#Inicio">Inicio</a>
          </button>
          <button class="botonNav">
            <a href="#Eventos">Eventos</a>
          </button>
          <button class="botonNav">
            <a href="#Próximamente">Próximamente</a>
          </button>
          <button class="botonNav">
            <a href="#Únete">Únete</a>
          </button>
          <button class="botonNav">
            <a href="#FAQ">FAQ</a>
          </button>
        </>
      )
    }
  </div>

  <div class="Redes-Inicio">
    {
      config.socialNetworks.instagram && (
        <a
          class="socialNetwoks"
          href={config.socialNetworks.instagram}
          target="_blank"
          rel="noopener noreferrer"
        >
          <InstagramIcon />
        </a>
      )
    }

    {
      config.socialNetworks.linkedin && (
        <a
          class="socialNetwoks"
          href={config.socialNetworks.linkedin}
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkedInIcon />
        </a>
      )
    }

    {
      config.socialNetworks.github && (
        <a
          class="socialNetwoks"
          href={config.socialNetworks.github}
          target="_blank"
          rel="noopener noreferrer"
        >
          <GitHubIcon />
        </a>
      )
    }

    {
      config.socialNetworks.facebook && (
        <a
          class="socialNetwoks"
          href={config.socialNetworks.facebook}
          target="_blank"
          rel="noopener noreferrer"
        >
          <FacebookIcon />
        </a>
      )
    }
  </div>
</div>
