---
import "./cssInicio/contenedorBienvenida.css";
import "./cssInicio/fondo.css";
import "./cssInicio/navInicio.css";
import "./cssInicio/variables.css";

import imageMosaic from "/public/Inicio/1.png";
import imageMosaic2 from "/public/Inicio/2.png";
import imageMosaic3 from "/public/Inicio/3.jpg";

import config from "../../config.json";

import Carousel from "./Carousel.astro";
---

<section id="Inicio">
  <div class="containerInicio">
    <section class="filtroInicio">
      <div class="contenedorBienvenida">
        <div class="textobienvenida">
          <h1>{config.branchName}</h1>
          <p>
            {" "}
            {config.branchDescription}{" "}
          </p>
          <div class="divContactar">
            <button class="Contactar1">Contactar</button>
            <button class="Contactar2">Eventos</button>
          </div>
        </div>
        <div class="imagenesbienvenida">
          <img class="imgarriba" src={imageMosaic.src} />
          <div>
            <img class="imgabajo" src={imageMosaic2.src} />
            <img class="imgabajo" src={imageMosaic3.src} />
          </div>
        </div>
      </div>
      <Carousel />
    </section>

    <div class="esferaAzul ubicacionEsfera"></div>
  </div>
</section>