---
import "./cssInicio/contenedorBienvenida.css";
import "./cssInicio/fondo.css";
import "./cssInicio/navInicio.css";
import "./cssInicio/variables.css";

import imageMosaic from "/public/Inicio/1.png";
import imageMosaic2 from "/public/Inicio/2.png";
import imageMosaic3 from "/public/Inicio/3.jpg";

import config from "../../config.json";

import Carousel from "./Carousel.astro";

import "@fontsource/open-sauce-sans/400.css";
import "@fontsource/open-sauce-sans/600.css";
---

<section id="Inicio">
  <div class="containerInicio">
    <section class="filtroInicio">
      <div class="contenedorBienvenida">
        <div class="textobienvenida">
          <h1
            style="font-family: 'Open Sauce Sans', sans-serif; font-weight: 600;"
          >
            {config.branchName}
          </h1>
          <p
            style="font-family: 'Open Sauce Sans', sans-serif; font-weight: 500; font-size: .5em;"
          >
            {" "}
            {config.branchDescription}{" "}
          </p>
          <div class="divContactar">
            <button
              class="Contactar1"
              onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSfTQC_cl7JRfrJLyvSOz-qasyBQZPDVEQXpw2olWcJv7DAx4Q/viewform'"
            >
              Contactar</button
            >
            <button
              class="Contactar2"
              onclick="location.href='/members'"
              >Miembros</button
            >
          </div>
        </div>
        <div class="imagenesbienvenida">
          <img class="imgarriba" src={imageMosaic.src} alt="IEEEWelcomeBack1" />
          <div class="flex">
            <img
              class="imgabajo"
              src={imageMosaic2.src}
              alt="IEEEWelcomeBack2"
            />
            <img
              class="imgabajo"
              src={imageMosaic3.src}
              alt="IEEEWelcomeBack3"
            />
          </div>
        </div>
      </div>
      <Carousel />
    </section>
  </div>
</section>
